<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>editing {{htmlEsc .Match}} | gotodo</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <section>
      <hr />
      <form method="POST" action="/api/set/{{pathEsc .Match}}">
        <strong>editing {{htmlEsc .Match}}</strong>
        <label>
          summary
          <input
            type="text"
            name="summary"
            value="{{htmlEsc .Example.Summary}}"
        /></label>
        <label>
          setails
          <input
            type="text"
            name="details"
            value="{{htmlEsc .Example.Details}}"
        /></label>
        <label>
          deadline
          <input
            type="date"
            name="deadline"
            value="{{fmtDate .Example.Deadline}}"
        /></label>
        <label>
          priority (1-5)
          <input
            type="number"
            name="priority"
            min="1"
            max="5"
            value="{{.Example.Priority}}"
        /></label>
        <button type="submit">save</button>
        <a href="/">cancel</a>
      </form>
      <hr />
    </section>
  </body>
</html>
