<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>gotodo</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    {{if .Flash}}
    <p><strong>{{.Flash}}</strong></p>
    {{end}}
    <!-- FIXME: URL handler will eventually become much more complex as more filters will be here -->
    {{if .ShowDone}}
    <a
      href="/?{{if .ShowDue}}due=1{{end}}"
      class="selected"
      style="view-transition-name: toggle-done"
      >+done</a
    >
    {{else}}
    <a
      href="/?done=1{{if .ShowDue}}&due=1{{end}}"
      style="view-transition-name: toggle-done"
      >+done</a
    >
    {{end}} {{if .ShowDue}}
    <a
      href="/?{{if .ShowDone}}done=1{{end}}"
      class="selected"
      style="view-transition-name: toggle-due"
      >-upcoming</a
    >
    {{else}}
    <a
      href="/?due=1{{if .ShowDone}}&done=1{{end}}"
      style="view-transition-name: toggle-due"
      >-upcoming</a
    >
    {{end}}

    <ul>
      {{range .Todos}} {{if or $.ShowDone .IsPending}} {{if or (not $.ShowDue)
      .IsDue}}
      <li
        style="view-transition-name: {{hashCssValue .Summary}}; --priority: {{.Priority}}"
      >
        <form method="POST" action="/api/set/{{pathEsc .Summary}}?done=1">
          <button type="submit" class="{{if .Done}}done{{else}}todo{{end}}">
            {{if .Done}}x{{else}}&nbsp{{end}}
          </button>
        </form>
        <span class="deadline">[{{.Priority}}/{{fmtDate .Deadline}}]</span>
        <span class="summary">{{htmlEsc .Summary}}</span>

        <a href="/edit/{{pathEsc .Summary}}">edit</a>
        <form method="POST" action="/api/delete/{{pathEsc .Summary}}">
          <button type="submit" aria-label="delete">x</button>
        </form>
      </li>
      {{end}} {{end}} {{end}}
    </ul>

    <section style="view-transition-name: form-add">
      <hr />
      <form method="POST" action="/api/add">
        <strong>new todo</strong>
        <label>summary<input type="text" name="summary" required /></label>
        <label>details<input type="text" name="details" /></label>
        <label
          >deadline<input
            type="date"
            name="deadline"
            value="{{.Today}}"
            required
        /></label>
        <label
          >priority (1-5)<input
            type="number"
            name="priority"
            min="1"
            max="5"
            value="1"
        /></label>
        <button type="submit">add</button>
      </form>
      <hr />
    </section>
  </body>
</html>
